.month {
  font-size: var(--font-size-h4);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-text-highlight);
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
}

.dow {
  font-size: var(--font-size-h6);
  color: var(--color-text-subdue);
  margin-bottom: 3px;
}

.day {
  font-size: var(--font-size-base);
  color: var(--color-text-base);
  padding: 4px 0;
  border-radius: var(--border-radius);
}

.today {
  background-color: var(--color-popover-border);
  color: var(--color-text-highlight);
}

.other {
  color: var(--color-text-subdue);
}
